<app-header></app-header>

<html>
 <head>
	<title> UK Hospital </title>
	
	
 </head>
 <body>
	
	
	
	<div class="middle">
		<div style="background-image:url('assets/images/a.jpg');">
		<p>
			<br> <br>
					Famous Fruit Shop <br>
			<font size="5px"> Fruits are good for health </font>
		</p> 
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> An Apple a day keeps Doctor away </font> <br> <br>

						<font color="#000" size="5px">Different types of fruits are there</font> <br> <br>

						Apple<br>
						Banana<br>Mango<br>Grapes<br>Papaya<br>Orange<br>Avacardo<br>Watermelon,Dragonfruit,Kiwi,Sapota,etc... <br><br>

					 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>
</body>
</html>